@charset "utf-8";

/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
html {
  color: #333;
  /* background: #fff; */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizelegibility;
}

/* 如果你的项目仅支持 IE9+ | Chrome | Firefox 等，推荐在 <html> 中添加 .borderbox 这个 class */
html.borderbox *, html.borderbox *:before, html.borderbox *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* 内外边距通常让各个浏览器样式的表现位置不同 */
body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  margin: 0;
  padding: 0;
}

/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) */
article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block;
}

/* HTML5 媒体文件跟 img 保持一致 */
audio, canvas, video {
  display: inline-block;
}

/* 要注意表单元素并不继承父级 font 的问题 */
body, button, input, select, textarea {
  font: 300 1em/1.8 PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* 去掉各Table cell 的边距并让其边重合 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 去除默认边框 */
fieldset, img {
  border: 0;
}

/* 块/段落引用 */
blockquote {
  position: relative;
  color: #999;
  font-weight: 400;
  border-left: 1px solid #1abc9c;
  padding-left: 1em;
  margin: 1em 3em 1em 2em;
}

@media only screen and ( max-width: 640px ) {
  blockquote {
    margin: 1em 0;
  }
}

/* Firefox 以外，元素没有下划线，需添加 */
acronym, abbr {
  border-bottom: 1px dotted;
  font-variant: normal;
}

/* 添加鼠标问号，进一步确保应用的语义是正确的（要知道，交互他们也有洁癖，如果你不去掉，那得多花点口舌） */
abbr {
  cursor: help;
}

/* 一致的 del 样式 */
del {
  text-decoration: line-through;
}

address, caption, cite, code, dfn, em, th, var {
  font-style: normal;
  font-weight: 400;
}

/* 去掉列表前的标识, li 会继承，大部分网站通常用列表来很多内容，所以应该当去 */
ul, ol {
  list-style: none;
}

/* 对齐是排版最重要的因素, 别让什么都居中 */
caption, th {
  text-align: left;
}

q:before, q:after {
  content: '';
}

/* 统一上标和下标 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

:root sub, :root sup {
  vertical-align: baseline; /* for ie9 and other modern browsers */
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* 让链接在 hover 状态下显示下划线 */
a {
  color: #1abc9c;
}

a:hover {
  text-decoration: none;
}

.typo a {
  border-bottom: 1px solid #1abc9c;
}

.typo a:hover {
  border-bottom-color: #555;
  color: #555;
  text-decoration: none;
}

/* 默认不显示下划线，保持页面简洁 */
ins, a {
  text-decoration: none;
}

/* 专名号：虽然 u 已经重回 html5 Draft，但在所有浏览器中都是可以使用的，
 * 要做到更好，

/*基础样式*/
html {  
  overflow: auto;
  color: #000;
}
body {
  position: relative;
  font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;

}
.clear {
  clear: both;
}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, fieldset, lengend, button, input, textarea, form, th, td {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
}
body, button, input, select, textarea {
  font-size: 12px/1.5;
}
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}
address, cite, dfn, em, var {
  font-style: normal;
}
code, kbd, pre, samp, tt {
  font-family: "Source Code Pro", "Courier New", Courier, monospace;
}
small {
  font-size: 12px;
}
ul, ol {
  list-style: none;
}
a:link, a:visited {
  text-decoration: none;
  color: #333;
}
a:hover {
  color: #333;
}

abbr[title], acronym[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
q:before, q:after {
  content: '';
}
:focus {
  outline: 0;
}
legend {
  color: #e1e4ea;
  font-size:12px;
}
fieldset, img {
  border: none;
}
button, input, select, textarea {
  font-size: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  border: none;
  height: 1px;
  *color:#fff;
}
img {
  -ms-interpolation-mode: bicubic;
}

.red{ color: #e85600;}

/*html5*/
article, aside, dialog, footer, header, hground, section, footer, nav, figure, menu {
  display: block
}
#navigator,#blogTitle,#main,#footer{
  width: 1000px;
  position:relative;
  margin: 0 auto;
}
.forFlow p{margin-bottom:18px;}

/* .forFlow img{margin-top: 20px; margin-bottom: 20px;} */

/*Header*/
#header{display:none;}
#alex-header{
  background:#FFF;
  height:40px;
  width:100%;
  position:fixed;
  top:0px;
  z-index:100;
  transition:.5s ease-out;
}
#alex-navigator{
  width:820px;
  position:relative;
  margin:0 auto;
}

.alex-n-left,.alex-n-right{margin-top:6px;/*background: #EFEFEF;*/border-radius:3px;font-size:15px;}
.alex-n-left{position:relative;float:left;margin-left: 1%;}
.alex-n-right{position:relative;float:right;}
.alex-h{line-height:26px;border-radius:3px;/*font-family:'webfont',"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;*/display:inline-block;}
.alex-h-w{position:relative;padding:0 10px;background-color:transparent;color:#666!important;}
.alex-h-w:hover{background:#4E5B66;color:#FFF!important;}
.alex-n-right .alex-h-w{color:#BBB!important;}
.alex-n-right .alex-h-w:hover{background:#4E5B66;color:#FFF!important;}

#alex-opt{position:fixed;right:15px;top:6px;/*background: #EFEFEF;*/border-radius:3px;font-size:15px;}
.alex-opt-h,.alex-opt-h2{/*background: #EFEFEF;*/padding: 0 15px;color:#666;/*font-family:'webfont',"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;*/line-height:26px;cursor:pointer;display:inline-block;}
.alex-opt-h{border-radius:3px;}
.alex-opt-h:hover{background:#4E5B66;color:#FFF;}

/* //分享
#alex-opt-share ul{position:fixed;right:15px;padding:10px 0;background:#4E5B66;color:#FFF;display:none;}
#alex-opt-share li{line-height:26px;border-radius:3px;width:100px;padding:2px 15px;display:block;}
#alex-opt-share li:hover{background:#313940;color:#FFF;} */

.nonfollow{background: #EFEFEF;color:#666;}
.alreadyfollow{background:#4E5B66;color:#FFF;}

#alex-message{position:fixed;line-height:26px;font-size:17px;width:100%;text-align: center; z-index:200;display:none;}
#alex-message-content{position: relative;background:#4E5B66;max-width:400px;padding:8px 15px; border-radius:3px; box-shadow: 0 0 15px 2px #4E5B66; color:#FFF;display:inline-block;}
#navigatorTitleDiv{position: fixed;padding: 0 15px;height:26px;background: #ffffff87;border-radius:3px;color:#666; font-size:15px;line-height: 26px;vertical-align:middle; cursor:pointer;}
#navigatorTitleDiv:hover{background:#4E5B66;color:#FFF;}

/*Header Index*/
#navigatorTitleDiv{left:15px; top:7px;z-index:102;}
#navigatorDiv {position: fixed;top:0;margin-top:40px;left:0;min-width:220px;max-width:300px;height:calc(100% - 40px);
/* background:#FFF; */
font-size:14px;overflow:auto;overflow-x:hidden;z-index:99;box-shadow:rgba(0, 0, 0, 0.117647) 0px 1px 3px;}
#navigatorDiv ul{margin:5px 15px 10px 0;list-style:none; zoom:1;}
#navigatorDiv li{font-weight:500!important;padding:0;}
.anchorLink{line-height:30px;color:#999!important;padding:0 0 0 20px;width:100%;display:inline-block;}
.anchorLink:hover{background:hsl(220, 23%, 95%);color:#4E5B66!important;text-decoration:none;}
.nav .active .anchorLink{background:#4E5B66;color:#FFF!important;text-decoration:none;}

/*Head Top*/
#alex-top{display: none;}

/*Main*/
#main{margin-top:50px;margin-bottom: 0px;width: 820px; }
#mainContent{
	margin-top:10px;
  width: 100%;
  display: inline-block;
}
.c_ad_block,#site_nav_under,
#sideBar,
#author_profile,#ad_text_under_commentbox,#ad_t2 {display:none;}




/*Home*/
/* .forFlow{
  display: flex;
  flex-wrap: wrap; 
  margin-left: 1.2rem;
  margin-right: 1.2rem;
  flex-direction: row;
  } */
.day{
  /* position: relative;float: left; background: #FFF; padding: 32px; margin: 15px 10px; width: calc(50% - 85px); border-radius: .2rem; box-shadow: 0 0.05rem 1rem rgba(51,51,51,.05); transition: all .5s ease;display: block; */
  position: relative;
  float: left;
  padding: 32px;
  margin: 15px 10px;
  border-radius: 0.2rem;
  box-shadow: 0 0.05rem 1rem rgba(51,51,51,.05);
  transition: all .5s ease;
  display: block;

}
.day:hover{transform: translateY(-2px);box-shadow: 0 0.3rem 1.5rem rgba(51,51,51,.25);}
.day .dayTitle{
  display: none;
  max-width: 600px;
  margin: 0px -10px 0px;
  padding: 0 10px;
}

.PostListTitle{
  display: none; 
}


.day .postTitle{
  color:#333; font-size:25px; margin-right: -.8rem;
}

.pinned-post-mark{
  font-weight: 400;
}


#main #mainContent .postTitle a {
    color: #008aff;
    font-size: 28px;
    font-weight: 300;
    line-height: 1.4;
    transition: color .2s ease-in-out
}

#main #mainContent .postTitle a:hover {
    color: #027fe8
}

#main #mainContent .postCon .c_b_p_desc {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 26px;
    color: #666;
    font-size: .9rem;
}

#main #mainContent .postCon .c_b_p_desc_readmore {
    display: block;
    width: 80px;
    margin-top: 40px;
    margin-right: 50px;
    border: 1px solid #e4e4e4;
    border-radius: 100px;
    color: #767676;
    text-align: center;
    transition: all .2s ease-in-out;
    padding: 4px 12px;
    font-size: 12px;
    line-height: 1.8;
}

#main #mainContent .postCon .c_b_p_desc_readmore:hover {
    border-color: #008aff;
    color: #fff;
    background: #008aff
}

#main #mainContent .postDesc {
    margin-top: -20px;
    color: #b5b5b5;
    font-size: 12px;
    text-align: right;
    font-weight: 300
}

#main #mainContent .postDesc::first-letter {
    text-transform: capitalize
}

#main #mainContent .postDesc a {
    color: inherit;
    transition: all .2s ease-in
}

#main #mainContent .postDesc a:hover {
    color: #008aff;
    text-decoration: underline
}



/* 下一页 */
.topicListFooter{ 
    display: none;
    margin-left: 47%;
}

#homepage_top_pager{display: none;}
#homepage_bottom_pager{margin-left: 30%;;}



/*Catalogs*/
.entrylistTitle{font-size: 20px; margin: 20px; text-align: center;}
.entrylistPosttitle{
  color:#333; font-size: 25px;
  border:none;padding:0px;
}
.entrylistItemTitle{
    color: #008aff !important;
    font-size: 28px;
    font-weight: 300;
    line-height: 1.4;
    transition: color .2s ease-in-out;
}

.entrylistItem{
    background: #FFF;
    padding: 32px;
    margin: 15px 10px;
    border-radius: 0.2rem;
    box-shadow: 0 0.05rem 1rem rgb(51 51 51 / 5%);
    transition: all .5s ease;
}

.entrylistItem .entrylistPostSummary .c_b_p_desc {
    margin-bottom: 20px;
    line-height: 30px;
    font-size: .9rem;
    color: #666;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
}

.entrylistItem .entrylistPostSummary .c_b_p_desc_readmore {
    position: relative;
    padding: 0 5px;
    border-radius: 3px;
    color: #4E5B66!important;
    text-align: center;
    display: inline-block;
}

.entrylistItem .entrylistPostSummary .c_b_p_desc_readmore:hover{background:#4E5B66;color:#FFF!important;}

.entrylistItem:hover{transform: translateY(-2px);box-shadow: 0 0.3rem 1.5rem rgba(51,51,51,.25);}

.entrylistItemPostDesc{
  /* position: absolute; */
  bottom: 1rem;
  color: #CCC;
  font-size: .7rem;
  /* display:none; */
}
.entrylistPostSummary{font-size:16px;}

/*Tags List*/

#taglist_title_wrap {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#taglist_title {
    margin: 0 auto 10px;
    padding-bottom: 30px;
    border-bottom: 1px solid #e3e3e3;
    color: #000;
    font-size: 22px;
    text-shadow: 2px 2px 8px #eee;
}
#taglist {
    margin: 0 auto;
}

#MyTag1_dtTagList{
  display: inline-block;

}

#MyTag1_dtTagList tr {
    text-align: center;
    display: inline-block;
    /* padding: 14px 0; */
    padding: 10%;
}

#MyTag1_dtTagList td {
    position: relative;
    padding: 6px 10px;
    width: 140px;
    height: 25px;
    cursor: pointer;
}

#MyTag1_dtTagList .small, #MyTag1_dtTagList a {
    color: #444;
    font-size: 16px;
    cursor: pointer;
    transition: all .2s ease-in;
}

#MyTag1_dtTagList a {
    margin-right: 0.6em;
}

#taglist_main #taglist .small {
    font-size: 12px;
}

#MyTag1_dtTagList td::before {
    content: '{';
    margin-right: 0.4em;
    font-size: 18px;
    font-weight: bolder;
    color: #008aff;
}

#MyTag1_dtTagList td::after {
    content: '}';
    margin-left: 0.4em;
    font-size: 18px;
    font-weight: bolder;
    color: #008aff;
}

/*Tags*/
.forFlow:has(#myposts){
  display: block;
  margin-left: 1.2rem;
  margin-right: 1.2rem;
}

#myposts .myposts_title {
    padding-bottom: 16px;
    border-bottom: 1px solid #f0f0f0;
    color: #000;
    font-size: 22px;
    text-shadow: 2px 2px 8px #eee
}
#myposts .PostList {
    margin: 30px 0;
    padding: 20px;
    border: 1px solid transparent;
    box-shadow: 0 0.05rem 1rem rgba(51,51,51,.05);
    border-left: 2px solid #f0f0f0;
    transition:  all .25s ease-out;
    cursor: pointer;
    font-size: 13px;
}


#myposts .PostList:hover {
    border: 1px solid #eee;
    border-left-color: #008aff;
    border-left-width: 4px;
    box-shadow: 4px 4px 12px #f4f4f4
}

#myposts .postTitl2{
    color:#333;
    font-size: 18px;
}

#myposts .postTitl2 a {
    display: block;
    color: #666;
    font-size: 20px;
    transition: color .2s ease-out;
}

#myposts .postTitl2 a::first-letter {
    float: left;
    color: #008aff;
    font-size: 34px;
    font-weight: 700;
    letter-spacing: .2em
}

#myposts .postDesc2 {
    display: inline-block;
    color: #b5b5b5;
    font-size: 12px
}


#myposts .postDesc2 a {
  color: rgba(241,23,9,.8);
  text-decoration: none;
}

#myposts .postText2 {
    font-size: 13px;
    margin-bottom: 5px;
}

/*Single Post or Home Post Desc*/
.post{padding: 32px 30px 10px 30px;  width: 100%; }
p,
pre {
  margin-bottom: 20px;
  max-width: 100%;
  box-sizing: border-box;
}
.post .postTitle{
  
  margin-top: 30px; padding-bottom:15px; font-size:2rem; font-weight:200; text-align: center;
  
  }
/* .post .postDesc{display: none;} */
.postBody h1,.postCon h1{font-size:20px;padding:12px 0;}
.postBody h2,.postCon h2{font-size:19px;padding:5px 10px;}
.postBody h3,.postCon h3{font-size:17px;padding:5px 20px;}
.postBody h4,.postCon h4{font-size:14px;padding:5px 25px;}
.postBody h5,.postCon h5{font-size:14px;padding:5px 25px;}
.postBody h6,.postCon h6{font-size:14px;padding:5px 25px;}
.postCon h1, .postCon h2, .postCon h3, .postCon h4, .postCon h5, .postCon h6{font-weight:bold;}
/* 页面字体大小 */
.postBody,.postCon,.entrylistPostSummary{clear:both; margin-top:26px;font-size:18px;color:#27282d;}
.postBody li, .postCon li {
    margin-bottom: 2em;
}


#cnblogs_post_body a{text-decoration:none;color:#4B6F89;}
#cnblogs_post_body a:hover{border-bottom:2px solid #4B6F89;padding-bottom:2px;}
#cnblogs_post_body table{margin:30px 0;}
#cnblogs_post_body th, #cnblogs_post_body td, .cnblogs-post-body th, .cnblogs-post-body td{padding:3px 20px;}
#cnblogs_post_body dd,.postCon dd{padding-left:2em;}
#cnblogs_post_body em,.postCon em{font-style:oblique;}
#cnblogs_post_body li,.postCon li{list-style:none;}
#cnblogs_post_body li p,.postCon li p{margin:0;}
#cnblogs_post_body ul,.postCon ul{list-style:none;margin-left:20px;}
.postBody ul li,.postCon ul li{list-style:inside disc;}
#cnblogs_post_body ol li{padding-left:0;}/*修正博客园通用样式*/
#cnblogs_post_body ol>li{list-style-type:decimal;}/*修正博客园通用样式*/
#cnblogs_post_body ol>li>ul{margin:0 0 0 25px;}
#cnblogs_post_body ol>li>ul>li{list-style-type:circle;}
#cnblogs_post_body ul{margin:30px auto 30px 25px;}
#cnblogs_post_body ul>li>ul{margin:0 0 0 25px;}
#cnblogs_post_body li{list-style:disc;font-weight: 500;}
#cnblogs_post_body li li{list-style-type:circle;}
#cnblogs_post_body li li li{list-style-type:square;}
#cnblogs_post_body dt,.postCon dt{ font-weight:bold; padding:6px 0; clear:both}
#cnblogs_post_body ol,.postCon ol{list-style:none;margin:30px auto 30px 20px;padding-left:0;}
#cnblogs_post_body blockquote,.postCon blockquote{background:#f4f4f4;border:none;padding:25px 30px;margin:20px 0;}
#cnblogs_post_body blockquote a,.postCon blockquote a{color:#4E5B66;}
#cnblogs_post_body blockquote a:hover,.postCon blockquote a:hover{border-bottom-color:#4E5B66; }

#cnblogs_post_body blockquote p{margin: 0 auto;color:#27282d;}

#cnblogs_post_body p:first-child img{margin:0 -3rem;width:calc(100% + 6rem);max-width:none;}
#cnblogs_post_body hr{height:1px;border:none;border-top:1px solid #CCC;margin:50px 250px;}
#cnblogs_post_body code{background:hsl(0, 0%, 98%)!important;border:1px solid hsl(220, 23%, 95%)!important;border-radius:3px!important;line-height: 1.5;}
#cnblogs_post_body p {
    margin: 13px auto;
    line-height:2.4;font-weight: 380;
}
#cnblogs_post_body strong {
  color: red;
}


#topics .postBody h1 code, #topics .postBody h2 code, #topics .postBody h3 code, #topics .postBody h4 code, #topics .postBody h5 code, #topics .postBody h6 code, #topics .postBody li code, #topics .postBody p code, #topics .postBody table code {
    color: red;
    line-height: 1;
    font-family: consolas!important;
    vertical-align: middle;
    margin: 0 3px;
    background: #f2f4f5!important;
    font-size: 18px!important;
    padding: .2em .3em!important;
    border-radius: 3px!important;
    border: 1px solid #eee!important;
}
#EntryTag,#BlogPostCategory,#post_next_prev{font-size:14px;border-radius:3px;padding:0;}
#EntryTag a,#BlogPostCategory a {padding: 7px 10px; border-radius: .2rem; background: #f0f1f4; color: #5b657a;}
#EntryTag a:hover,#BlogPostCategory a:hover{background:rgba(1,69,221,.05);color:#013dc4;}
#post_next_prev{margin-bottom:30px;width: 100%;}
.codeCloneBtn{position: relative;float: right;background:#4E5B66;padding: 0 15px;margin:-10px 20px -60px 0;font-size:10px;font-family: "Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
  border-radius:3px;color:#FFF;display: inline-block;}
.zclip{margin-top:-10px;}


#cnblogs_post_body img {
    width: 100%;
    height: auto!important;
    
    display: block!important;
    margin: 15px 0 30px!important;
    border-radius: 3px!important;
    box-shadow: 0 1px 15px rgba(27,31,35,.15), 0 0 1px rgba(106,115,125,.35)!important;
}

.medium-zoom-image {
    cursor: zoom-in;
    transition: transform 300ms cubic-bezier(0.2, 0, 0.2, 1) !important;
}

/* 下一篇 */
#post_next_prev .p_n_p_prefix {
    display: inline-block;
    width: 28px;
    height: 18px;
    line-height: 18px;
    border-left: 4px solid #008aff;
    margin-right: 20px;
    text-align: center;
    color: #008aff;
}



/* 种类 */
.category-block-list {
    padding: 4%;
    display: grid;
    row-gap: 15px;
    grid-template-columns: repeat(1,minmax(0,1fr));
}

.category-link-list {
    display: grid;
    grid-template-columns: repeat(7,minmax(0,1fr));
    column-gap: 1.5em;
    row-gap: 1.5em;
    margin-top: 10px;
}

/*绿色通道*/
/* #green_channel{display:none;} */


#green_channel {
    padding: 10px 0;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 0;
    border-top: #eee 1px dashed;
    /* border-bottom: #eee 1px dashed; */
    font-size: 12px;
    width: 100%!important;
    text-align: center;
    display: inline-block;
    vertical-align: middle
}


#btn_comment_submit,a#green_channel_digg,a#green_channel_favorite,a#green_channel_follow,a#green_channel_wechat,a#green_channel_weibo {
    text-decoration: none;
    color: #fff;
    margin: 10px auto auto;
    width: 80px;
    height: 30px;
    display: inline-block;
    line-height: 30px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 2px;
    border-radius: 3px;
    text-transform: uppercase;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    position: relative;
    background-image: none
}

a#green_channel_digg:hover,a#green_channel_favorite:hover,a#green_channel_follow:hover,a#green_channel_wechat:hover,a#green_channel_weibo:hover {
    transform: scale(1.02,1.02)
}

a#green_channel_digg:active,a#green_channel_favorite:active,a#green_channel_follow:active,a#green_channel_wechat:active,a#green_channel_weibo:active {
    transform: scale(.95,.95);
    transition: all .4s -125ms
}

a#green_channel_digg {
    background-color: #5c8ec6;
    box-shadow: 0 15px 18px -6px rgba(95,193,206,.65)
}

a#green_channel_follow {
    background-color: #e33100!important;
    box-shadow: 0 15px 18px -6px rgba(227,49,0,.65);
    margin-left: 10px
}

a#green_channel_favorite {
    background-color: #ffb515;
    box-shadow: 0 15px 18px -6px rgba(255,198,75,.65);
    margin-left: 10px
}

a#green_channel_weibo {
    background-color: #ff464b!important;
    box-shadow: 0 15px 18px -6px rgba(255,70,75,.65)!important;
    width: 45px;
    margin-left: 15px;
}

a#green_channel_wechat {
    background-color: #3cb034!important;
    box-shadow: 0 15px 18px -6px rgba(60,176,52,.65)!important;
    width: 60px;
    margin-left: 15px;
  }

#author_profile_info img.author_avatar {
    border-radius: 100%;
    box-shadow: inset 1px 1px 3px rgba(0,0,0,.3),0 1px 3px rgba(0,0,0,.4);
    border: 3px solid #f7f7f7;
    padding: 0;
    margin-left: 3px;
    margin-right: 7px
}

div#green_channel img {
    height: 20px;
    width: 20px;
    margin: 0px!important;
}




/*好评*/
/* #div_digg{position:relative;float:none;margin:30px auto;}
#div_digg .diggit{width:70px;height:70px;padding:0;background:#FFF;border:1px solid #F00;margin:0;border-radius:70px;display:inline-block;}
#div_digg .diggit .diggnum{color:#F00;font-size:25px;line-height:70px!important;display:inline-block;}
#div_digg .buryit{width:35px;height:35px;padding:0;background:#FFF;border:1px solid #CCC;margin:17px 0 0 0;border-radius:35px;display:inline-block;}
#div_digg .buryit .burynum{color:#CCC;font-size:15px;line-height:35px!important;display:inline-block;} */


#div_digg {
    width: 180px;
    float: none;
    margin: 30px auto;
    padding-bottom: 10px;
    border-bottom: 1px solid #f0f0f0;
}

#div_digg::before {
    content: '觉得这篇文章怎么样？';
    display: block;
    margin: 30px 0;
    padding-top: 20px;
    border-top: 1px solid #f0f0f0;
    color: #989898;
    letter-spacing: .1em;
}

#div_digg .burynum, #div_digg .diggnum {
    color: #000;
    transition: all .2s ease-in;
}

#div_digg .buryit, #div_digg .diggit {
    position: relative;
    box-sizing: content-box;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 0;
    padding: 0;
    border: 1px solid #b5b5b5;
    border-radius: 50px;
    background: #fff;
    transition: all .2s ease-in;
    box-shadow: 2px 2px 8px #f0f0f0;
}

#div_digg .diggit::after {
    content: '还可以';
}

#div_digg .buryit::after {
    content: '不太行';
}

#div_digg .buryit::after, #div_digg .diggit::after {
    width: 60px;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.diggword {
    margin-top: 80px;
    margin-left: 0;
    font-size: 12px;
    color: #808080;
}

/*Commont List*/
#blog-comments-placeholder{padding:0;width:100%;margin-left: 30px;}
#blog-comments-placeholder>br:first-of-type,.sendMsg2This{display:none;}
#divRefreshComments,#AjaxHolder_UpdatePanel1{padding: 0 32px;}
#comment_form {
    width: 100%;
    padding-left: 32px;
    padding-right: 10px;
}
.comment_actions{position:relative;float:right;margin:15px 10px 0 0;font-size:15px;}
.comment_vote{font-size:15px;padding: 5px;}
.layer{padding-left:10px;}
.blog_comment_body{clear:both; margin:10px 0 0 10px;font-size:16px;color:#555;line-height:1.8;}
.comment_quote{background:#eff1f5;border:1px solid #e1e4ea;border-radius:3px;padding:10px 30px;}
.login_tips{background:#EFEFEF; margin:10px 0;padding:10px 25px;}
.louzhu{color:#F00;padding:0 5px;}
.bq_post_comment{border:none;font-size:16px;color:#666;}
#comments_pager_top{margin-bottom: 30px;}
#comments_pager_bottom{margin-top: 30px;}
.pager a{padding: 7px 10px;margin: 0 2.5px; border-radius: .2rem;background:#f0f1f4; border:1px solid #f0f1f4; }
.paper a:hover{background: rgba(1,69,221,.05);color:#013dc4;}
.pager span.current{padding: 7px 10px;margin: 0 2.5px; border-radius: .2rem;background:#0145dd;border:1px solid #0140ce;color:#FFF;}

/*Commont Submit*/
#comment_form{width:100%;}
.commentbox_title_left,#commentform_title{display:none;}
.commentbox_title_right{float:none;}
.commentbox_title_right img{margin:0;}
#tbCommentBody{
    width:100%;
    height:200px;
    padding:.35rem .4rem;
    border:1px solid #CCC;
    border-radius: .2rem;
    color:#666;
    font-size:16px;
    transition: all .2s ease;
    resize:none;
}
#tbCommentBody:focus{border-color: #0145dd;box-shadow: 0 0 0 0.1rem rgba(1,69,221,.2);}
#tbCommentAuthor{background:transparent; border:none; padding:4px 10px;}
#commentbox_opt{font-size:15px;}
#btn_comment_submit{
    width:100px;
    background:#0145dd;
    border:1px solid #0140ce;
    border-radius:.2rem;
    color:#FFF;
    cursor: pointer;
}
#btn_comment_submit:hover{background: #013dc4; border-color: #0138b4;}

/*Sign*/
#MySignature{
  background: #f4f4f4;
  padding:25px 30px;
  font-size:16px;
}
#MySignature a{
  padding-left:5px;
  padding-right:5px;
  text-decoration:none;
  color:#27282D;
}
#MySignature a:hover{
  border-bottom:2px solid #4E5B66;
  padding-bottom:2px;
}

/*Footer*/
#footer{display: none;}
footer{
  padding: 40px; text-align: center; line-height: 21px; color: #bfc3c8;
  }
.copyright{font-size: 14px;}
.copyright a{color: #898f98;}
.copyright a:hover{text-decoration: underline;}

/*webkit scroll bars*/
::-webkit-scrollbar{width:9px!important;height:9px;}
/*::-webkit-scrollbar-track{background:#F5F5F5;}*/
/*::-webkit-scrollbar-track:hover{background:#F5F5F5;}*/
::-webkit-scrollbar-thumb{border:1px solid #F5F5F5;border-radius:9px;background:#AAA;transition:.5s ease-out;}
::-webkit-scrollbar-thumb:hover{border:1px solid #777;background:#777;transition:.5s ease-out;}
::-webkit-scrollbar-thumb:active{border:1px solid #666;background:#666;transition:.5s ease-out;}

/*webkit selection*/
::selection {background:#EFEFEF; color:#666;}
::-moz-selection {background:#EFEFEF; color:#666;}
::-webkit-selection {background:#EFEFEF; color:#666;}

//代码样式
.hljs {
  display: block!important;
padding: .5em!important;background: #fffffe!important;color: #657b83!important;}


.cnblogs_code_toolbar {margin-top: 0px;}
.cnblogs_code img{margin:0;float:left;}

@media(max-width: 1500px){
  #navigatorDiv{display:none;}
}

@media(max-width: 1200px){
  #navigatorTitleDiv {
    margin-top: 35px;
    margin-left: 75%;
  }
  .alex-n-right{display: none;}
}

@media(max-width: 900px){
.category-block-list {
   row-gap: 10px;
   padding-left: 15%;
    display: flex;
    align-items: center;
    align-content: space-between;
    flex-wrap: wrap;
    justify-content: space-between;
}


  #navigatorTitleDiv {
    margin-top: 35px;
    margin-left: 75%;
  }


  #alex-header{
    display: flex;
    font-size: 16px;
  }

  #alex-navigator{
    width: 820px;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
  }

  .alex-n-left {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: stretch;
    align-items: center;
    font-size: 12px;
    margin: 1%;
  }


  *,*::before,*::after{box-sizing: border-box;}
  body{overflow-x:hidden;}
  #main #post_detail{width:100%;}
  #cnblogs_post_body p:first-child img{margin:0;width:100%;}
  #alex-opt{display: none !important;}

  #homepage_bottom_pager{
    display: none;
    margin-left: 14%;
  }



.day {
    position: relative;
    background: #FFF;
    padding: 5%;
    border-radius: 0.2rem;
    box-shadow: 0 0.05rem 1rem rgba(51,51,51,.05);
    transition: all .5s ease;
    display: block;
  }

  .postDesc{
    margin-top: 0 !important;
    margin-left: -10px !important;
    margin-right: -5px !important;
  }
  .postDesc a{
    display: none;
  }

  .day .postCon,.c_b_p_desc{
    margin-bottom:20px; 
    line-height:30px; 
    font-size:.9rem; 
    line-height: 1.8;
    color:#666;}

  .c_b_p_desc_readmore{
    margin-top: 0!important;
    margin-right: 0!important;
    position:relative!important; 
    padding:0 5px!important;
    border-radius:3px!important;
    color:#4E5B66!important;
    text-align: center!important; 
    display: inline-block!important;
    margin-left: 10px;
    border: 0!important;
  }
  .c_b_p_desc_readmore:hover{background:#4E5B66!important;color:#FFF!important;}
 

  /* 内容 */

  .post{padding: 20px;}

  #MySignature{
    font-size: 12px;
  }
  

  /* 评论栏 */
  #comment_form {padding-left: 0;}


  #blog-comments-placeholder {padding-left: 0!important;}


  #MyTag1_dtTagList tr {
    padding: 14px 0 !important;
  }

  div#green_channel img {
    vertical-align: top!important;
  }

  #btn_comment_submit,a#green_channel_digg,a#green_channel_favorite,a#green_channel_follow,a#green_channel_wechat,a#green_channel_weibo {
    line-height: 25px;
  }


}

@media (max-width: 800px) {
  /* #navigatorTitleDiv,#navigatorDiv,.codeCloneBtn,.zclip{display:none;} */
  .category-block-list {
   row-gap: 10px;
    padding-left: 15%;
    display: flex;
    align-items: center;
    align-content: space-between;
    flex-wrap: wrap;
    justify-content: space-between;
}

  #navigatorTitleDiv {
    margin-top: 35px;
    margin-left: 75%;
  }


  #alex-header{
    display: flex;
  }

  #alex-navigator{
    width: 820px;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
  }

  .alex-n-left {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: stretch;
    align-items: center;
    font-size: 12px;
    margin: 1%;
  }

  
  #navigator,#blogTitle,#main,#footer{width:100%;}  
  .day{float: none;margin: 15px auto; width: 100%;}
  .day {
      position: relative;
      background: #FFF;
      padding: 5%;
      border-radius: 0.2rem;
      box-shadow: 0 0.05rem 1rem rgba(51,51,51,.05);
      transition: all .5s ease;
      display: block;
  }

  .postDesc {
    bottom: 1rem; 
    color: #CCC; 
    font-size: .7rem;
    background: #fff;
  }
  

  /* 内容 */

  .post{padding: 20px;}

  #MySignature{
    font-size: 12px;
  }
  #cnblogs_post_body img{max-width:100%!important;height: auto;width: auto; }
  
  /* 评论栏 */
  #comment_form {padding-left: 0;}
  #blog-comments-placeholder {padding-left: 0!important;}
  #MyTag1_dtTagList tr {padding: 14px 0 !important;}
  div#green_channel img {
    vertical-align: top!important;
  }
  #btn_comment_submit,a#green_channel_digg,a#green_channel_favorite,a#green_channel_follow,a#green_channel_wechat,a#green_channel_weibo {
    line-height: 25px;
  }
}


@media (max-width: 500px) {
  #MySignature{overflow-x:hidden;}
  .post .postTitle{font-size:25px;line-height:40px;}
  /* .day .postDesc{display: none;} */
  #cnblogs_post_body hr{margin:50px 0;}
  #cnblogs_post_body img{max-width:760px;height: auto;width: auto\9; width:100%; }  
}

@media screen and (min-width: 600px) {
    #main #sideBar:hover::after {
        content:"+";
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 18px;
        transform: translate(-50%,-50%) rotateZ(-45deg);
        transition: all .2s ease-in-out
    }

    #main #sideBar:hover #sideBarMain {
        animation: slideInRight .2s ease-out;
        visibility: visible
    }
}

/*赞赏功能*/
#alex-post-like {
    text-align: center;
    margin-bottom: 20px;
}
#alex-post-like a {
    padding: .45rem .6rem;
    background: #0145dd;
    border-color: #0140ce;
    border-radius: .2rem;
    color: #FFF;
    font-size: 1.2rem;
}
#alex-qr-wrapper{
    display: none;
    position: relative;
    max-width: 30%;
    height: auto;
    text-align: center;
    margin-bottom: 20px;
}

#alex-qr-wrapper > img{
  margin-top: 40%;
  margin-left: 116%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 70%;
  width: auto;
  height: auto;
}
/* #like{z-index: 120;display: flex; justify-content: center;align-items: center;}
#like-mask{background: rgba(247,248,250,.75);z-index:121;display: block;cursor: default;}
#like, #like-mask{position: fixed;width: 100%;height: 100%;top: 0;left: 0;}
#like-title{padding:20px 20px 0 20px;font-size: 1.4rem;}
#like-thankyou::before{content: "\2715"; float: right;}
#like-container{background: #FFF; max-width:640px;width:100%; border-radius:.2rem; box-shadow: 0 0.2rem 0.5rem rgba(51,51,51,.3); z-index: 122;}
#like-body{padding:20px;}
#like-body-main{display: flex;margin-left: -.4rem;margin-right: -.4rem;}
#like .half{ margin: 10px; width:50%; display: inline-block;}
#like img{width:100%; display: block; height: auto;} */




#cnblogs_ch,#cnblogs_c1,#under_post_card1,#under_post_card2{
    display: none;
}


/* 评论栏 */
#blog-comments-placeholder>br:first-of-type, .sendMsg2This {
    display: none;
}

.feedback_area_title {
    font-size: 1.5rem;
    color: #000;
    padding: 10px;
}

#blog-comments-placeholder .feedbackItem {
    /* margin: 10px; */
    padding: 5px 15px 5px 10px;
    border-bottom: 1px solid #DFDFDF;
    border-radius: 0.2rem;
    box-shadow: 0 0.05rem 1rem rgba(51,51,51,.05);
    transition: all .5s ease;
}

.feedbackItem:hover{transform: translateY(-2px);box-shadow: 0 0.3rem 1.5rem rgba(51,51,51,.25);}

.blog_comment_body {
    clear: both;
    margin: 10px 0 0 10px;
    font-size: 16px;
    color: #555;
    line-height: 1.8;
}

.comment_vote {
    font-size: 15px;
    padding: 5px;
}

.comment_vote {
    text-align: right;
}

#comment_form_container{
  margin-top: 5px;
}
#tip_comment{
  margin-left: 20px;
}

#comment_nav{
  /* margin-top: 5px; */
  /* margin-bottom: 5px; */
  float: left;
  margin-left: -20px;
}

.comment_textarea{
  width: 100%;
}

.feedback_area_title{
  margin-left: 10px;
}

/* #blog-comments-placeholder{
  padding: 20px;
} */

.feedback_area_title {
    font-size: 20px;
    margin: 20px 0;
    padding-bottom: 10px;
}

#topics .postDesc {
    border-top: 1px solid black ;
    padding-top: 10px;
    margin-top: 10px;
    text-align: right;
}

.feedbackListSubtitle{
  margin-top: 0;
  margin-left: 50px;
}

.feedbackCon{
  margin-top: 15px;
}


/* .highlighter-hljs[has-selection="true"]{
  background: red;
} */



/* 文本选中时的颜色 */
::selection { 
    background:#2cc2d7; 
}
::-moz-selection { 
    background:#2cc2d7; 
}
::-webkit-selection { 
    background:#2cc2d7; 
}


/* 侧边栏 */
#main #sideBar {
    /* z-index: 9999; */
    position: absolute;
    left: 150%;
    top: 0%;
    bottom: 0;
    width: 45px!important;
    height: 45px;
    border-radius: 50px;
    /* color: #fff; */
    background: #000;
    box-shadow: 2px 2px 6px #646464;
    cursor: pointer;
    transition: all .2s ease-in-out;
    float: right;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-left: 2%;
}

#main #sideBar.expand::after,#main #sideBar::after {
    content: "+";
    top: 50%;
    left: 50%;
    color: #fff;
    position: absolute;
    font-size: 18px;
    transition: all .2s ease-in-out
}

#main #sideBar::after {
    transform: translate(-50%,-50%)
}

#main #sideBar.expand::after {
    transform: translate(-50%,-50%) rotateZ(-45deg)
}

#main #sideBar.expand #sideBarMain {
    animation: slideInRight .2s ease-out;
    visibility: visible
}



#main #sideBarMain {
    z-index: 1;
    visibility: hidden;
    min-width: 240px;
    position: absolute;
    top: -30px;
    right: -20px;
    padding-top: 80px;
    border-left: 1px solid #f0f0f0;
    border-bottom: 3px solid #008aff

}

#main #sideBarMain.slideOutRight {
    animation: slideOutRight .4s ease-out
}

#main #sideBarMain #blog-sidecolumn {
    padding-right: 20px;
    padding-bottom: 20px;
    /* background: #fff */
}

.sidebar-block {
    padding-bottom: 5px;
    /* background: #fff; */
    background-clip: padding-box
}

#main #sideBarMain #blog-sidecolumn .catListTitle {
    margin: 20px 0;
    padding-left: 20px;
    color: #000;
    font-size: 18px;
    font-weight: 300
}

#main #sideBarMain #blog-sidecolumn li {
    margin: 14px 0;
    padding-left: 20px;
    text-indent: .6em;
    color: #8f8f8f;
    font-size: 14px;
    line-height: 1.6;
    font-weight: 300
}

#main #sideBarMain #blog-sidecolumn li:hover,#main #sideBarMain #blog-sidecolumn li:hover a {
    color: #008aff
}

#main #sideBarMain #blog-sidecolumn a {
    margin-right: .4em;
    color: #8f8f8f;
    transition: color .2s ease-in-out
}

#main #sideBarMain #sidebar_search_box {
    margin-bottom: 40px
}

#main #sideBarMain #widget_my_zzk {
    padding-left: 20px;
    display: flex;
    justify-content: space-between
}

#main #sideBarMain #widget_my_zzk .input_my_zzk {
    max-width: 140px;
    text-indent: .4em;
    outline: 0;
    flex: 2
}

#main #sideBarMain #widget_my_zzk #btnZzk {
    height: 26px;
    border: 1px solid #008aff;
    border-radius: 0;
    color: #fff;
    background: #008aff;
    font-weight: 300;
    outline: 0;
    cursor: pointer;
    /* transition: all .2s ease-in-out; */
    border-color: #027fe8;
    background: #027fe8

}


/* 右侧导航栏内容 */
/* #sidebar_news,#blog-calendar,#widget_my_google,
#sidebar_topviewedposts,#sidebar_topcommentedposts,#sidebar_topdiggedposts,#sidebar_recentcomments{
  display:none !important;
} */

input.btn_my_zzk {
    vertical-align: middle;
    height: 24px;
    font-size: 13px;
    padding-left: 6px;
    padding-right: 6px;
    text-align: center;
}

.catListTitle {
    margin: 20px 0;
    padding-left: 20px;
    color: #000;
    font-size: 18px;
    font-weight: 300;
}


/* 随笔目录 */
/* #mainContent > div > div.pager{
      margin-left: 47%;
} */

/* 技术总览上目录隐藏 */
#mainContent > div > div.pager > div > div{
    display: none;
}


#myposts > div.pager > div > div{
  text-align: center;
}

/* 其他一些正文内容的补充 */
#post_detail .postBody ol, #post_detail .postBody ul {
    border-left: 6px solid #008aff;
    padding-left: 40px;
}


/* 如果显示公告去除一些无用的东西 */
#profile_block{
  display: none;
}

/* 折叠代码样式 */

#cnblogs_post_body.blogpost-body-html details[open], #mainContent .cnblogs-markdown details[open] {
    border: 1px solid #fff;
}

details>summary {
    padding: 0em 0em 0em 1em;
    color: orange;
}

details {
    display: block; 
    position: relative; 
    border-radius: 2px; 
    margin: 1.6em 0px; 
    padding: 1.6em; 
    background-color: #fafafa; 
    color: rgb(44, 62, 80); 
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 16px; 
    font-style: normal; 
    font-variant-ligatures: normal; 
    font-variant-caps: normal; 
    font-weight: 400; 
    letter-spacing: normal; 
    orphans: 2; text-align: start;
    text-indent: 0px; text-transform: none;
    white-space: normal; 
    widows: 2;
    word-spacing: 0px;
    -webkit-text-stroke-width: 0px;
    text-decoration-thickness: initial; 
    text-decoration-style: initial; 
    text-decoration-color: initial;
}

#cnblogs_post_body.blogpost-body-html details>summary, #mainContent .cnblogs-markdown details>summary {
    font-weight: 500;
    outline: none;
    cursor: pointer;
}


#cnblogs_post_body h2 {
    padding-bottom: 12px;
    font-size: 24px;
    border-bottom: 1px solid #eaeaea;
}

#cnblogs_post_body h1{
    padding-bottom: 12px;
    font-size: 36px!important;
    border-bottom: 1px solid #b3b3b3!important;
}


#Loadanimation{
   background-color:#fff;
   height:100%;
   width:100%;
   position:fixed;
   z-index:1;
   margin-top:0px;top:0px;
   
}
#Loadanimation-center{
   width:100%;
   height:100%;
   position:relative;
   
}
#Loadanimation-center-absolute{
   position:absolute;
   left:50%;
   top:50%;
   height:200px;
   width:200px;
   margin-top:-100px;
   margin-left:-100px;
   
}
.xccx_object{
   -moz-border-radius:50% 50% 50% 50%;
   -webkit-border-radius:50% 50% 50% 50%;
   border-radius:50% 50% 50% 50%;
   position:absolute;
   border-left:5px solid #87CEFA;
   border-right:5px solid #FFC0CB;
   border-top:5px solid transparent;
   border-bottom:5px solid transparent;
   -webkit-animation:animate 2.5s infinite;
   animation:animate 2.5s infinite;
   
}
#xccx_one{
   left:75px;
   top:75px;
   width:50px;
   height:50px;
   
}
#xccx_two{
   left:65px;
   top:65px;
   width:70px;
   height:70px;
   -webkit-animation-delay:0.1s;
   animation-delay:0.1s;
   
}
#xccx_three{
   left:55px;
   top:55px;
   width:90px;
   height:90px;
   -webkit-animation-delay:0.2s;animation-delay:0.2s;
   
}
#xccx_four{
   left:45px;
   top:45px;
   width:110px;
   height:110px;
   -webkit-animation-delay:0.3s;
   animation-delay:0.3s;
   
}
@-webkit-keyframes animate{50%{
   -ms-transform:rotate(180deg);
   -webkit-transform:rotate(180deg);
   transform:rotate(180deg);
   
}
100%{-ms-transform:rotate(0deg);
   -webkit-transform:rotate(0deg);
   transform:rotate(0deg);
   
}
   
}
@keyframes animate{50%{
   -ms-transform:rotate(180deg);
   -webkit-transform:rotate(180deg);
   transform:rotate(180deg);
   
}
100%{
   -ms-transform:rotate(0deg);
   -webkit-transform:rotate(0deg);
   transform:rotate(0deg);
   
}
}

#sidebar_news_content p,#sidebar_news_content blockquote,#sidebar_news_content a{
    font-weight: 800;
    color: red;
    margin-bottom: 5px;
}

.under-post-card{
  display: none;
}

.charm-bar-wrapper{
  display: none;
}
